.login-section{
    width: 100vh;
    margin-top: 20%;
}




.bg{
    border: 2px solid bisque;
    padding: 20px 30px;
    border-radius: 9px;
}

.card-flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.card-input{
    background: none;
    border: 1px solid;
    margin-bottom: 30px;
}


.padding-x-y{
    padding-left: 70px;
    padding-right: 70px;
}